/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/bootstrap/dist/css/bootstrap.css";

/*-- Application stylesheets. -----------------------------------------------*/

.row {
	margin-left:0;
	margin-right:0;
}

textarea {
	width:100%;
}

.jumbotron {
	background-image:url("http://i.imgur.com/dTRXCT8.jpg");
	background-position: center center;
	color:#fff;
}

.mainText {
	background: rgba(46,46,46,.5);
	padding: 5px 0 5px 0;
	float:none;
}

.navbar-default {
	background-color: #2e2e2e;
}

.links {
	display: inline-block;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */
.navbar-brand ,.navbar-nav>li>a {
  	padding-left: 30px;
    padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
} 

.navbar-default {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
}

.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-brand {
	font-size: 1.5em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: white !important;
	background-color: #0893cf;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #0784BA;
}

.navbar-default .navbar-brand, .navbar-nav > li > a{
	color: #B1B1B1 !important;
}

.btn-primary {
	background-color: #0893cf;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #0784BA;
	border-color: #0784BA;
}

.colLead {
	color: #0893cf;
	font-size: 1.7em;
}

.vmSnapshot img{
	max-width: 600px;
	height: auto;
}

.statTable {
	max-width: 600px;
}

span.glyphicon {
	padding: 10px 16px;
	font-size: 7.0em;
	border-radius: 6px;
}

ul.vm-list {
	list-style-type: none;
	padding: 0px !important;
	text-align:center;
	font-weight:bold;
}

li.active {
	color: white !important;
	background-color: #0893cf;
}

.logout {
	color: white;
	float: right;
	padding-right: 10px
}