<div>
	<!--<h1>Select a VM to view</h1>-->
	<h3>{{VM_NAME}}</h3>
	<div class="vmSnapshot"><img src="/snapshots/{{#if SCREENCAP}}{{SCREENCAP}}{{else}}noScreenshot{{/if}}.jpg" alt="If possible, a snapshot of the current machine state"></div>
	<em>Note: if machine is off, this may be a solid black image.</em><br />
	<b>Vital Information: </b>
	<table class="table table-hover statTable">
		<tr>
			<td><b>Stat</b></td>
			<td><b>Value</b></td>
		</tr>
		<tr>
			<td>VM ID</td><td>{{VM_ID}}</td>
		</tr>
		<tr>
			<td>Created By</td><td>{{USERNAME}}</td>
		</tr>
		<tr>
			<td>Creation Date</td><td>{{DATE}}</td>
		</tr>
		<tr>
			<td>OS Type</td><td>{{DESCRIPTION}}</td>
		</tr>
		<tr>
			<td>VNC Port</td><td>{{PORT}} <small>(use esxi:{{PORT}} in your VNC client to access this VM)</small></td>
		</tr>
	</table>
</div>