<div class="jumbotron text-center">
	<div class="col-md-5 mainText">
	<h1>Virtual Machine Maintainer</h1>
	<p class="lead">Create, edit, and maintain your virtual machines</p>
	<p>
		<a href="#view" class="btn btn-primary btn-lg">View Virtual Machines</a>
		<a href="#create" class="btn btn-primary btn-lg">Create Virtual Machines</a>
		<a href="#edit" class="btn btn-primary btn-lg">Edit Virtual Machines</a>
	</p>
	<p>
		<!-- Remove from final product. -->
		<form class="loginForm">
			<div>
				<label>Username:</label>
				<input type="text" class="logun" name="username"/>
			</div>
			<div>
				<label>Password:</label>
				<input type="password" class="logpassword" name="password"/>
			</div>
			<div>
				<input type="submit" class="subLog" value="Log In"/>
			</div>
		</form>
	</p>
	</div>
</div>
<div class="container">	
	<div class="row">
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-plus pull-right"></span>
			<h4 class="colLead">Create</h4>
			<p>Create virtual machine configuration files directly from the web! Submitting a configuration file will create the necessary settings in ESXi to remotely set up your VM.</p>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-pencil pull-right"></span>
			<h4 class="colLead">Edit</h4>
			<p>Edit the configuration of you virtual machines with ease. Simply select the VM, and edit away. Making changes has never been so easy!</p>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-cog pull-right"></span>
			<h4 class="colLead">Maintain</h4>
			<p>Keep an eye on all of your machines, no matter where in the world you are. Such convenience. Many simplicity WOW. So run out of things to say</p>
		</div>
	</div>
</div>