<div class="row">
	<div class="col-md-2">
		<h3>Select VM</h3>
		<ul class="vm-list">
			{{#each this}}
			<li class="vm" data-id="{{VM_ID}}">{{VM_NAME}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-2 vmArea">
		<h2>Please Select The Virtual Machine You Wish To Edit From the Column On the Left</h2>
	</div>
</div>