<div>
	<!--<h1>Select a VM to view</h1>-->
	<h3>{{VM_NAME}}:</h3>
	Machine is: <b>
	{{#ifvalue value="0"}}
    OFF
	{{/ifvalue}}
	{{#ifvalue value="1"}}
    ON
	{{/ifvalue}}
	{{#ifvalue value="3"}}
    ON (after reset)
	{{/ifvalue}}
	{{#ifvalue value="3"}}
    SUSPENDED
	{{/ifvalue}}</b><br />
	<button class="btn btn-success powerVM">Change Power State</button>&nbsp;&nbsp;<button class="btn btn-success resetVM">Reset Power State</button>&nbsp;&nbsp;<button class="btn btn-success suspendVM">Suspend Machine</button>&nbsp;&nbsp;<button class="btn btn-danger deleteVM">DELETE {{VM_NAME}}?</button><br />
	<b>Vital Information: </b><br />
	<i>Note: this information is not editable.</i>
	<table class="table table-hover statTable">
		<tr>
			<td><b>Stat</b></td>
			<td><b>Value</b></td>
		</tr>
		<tr>
			<td>VM ID</td><td>{{VM_ID}}</td>
		</tr>
		<tr>
			<td>Created By</td><td>{{USERNAME}}</td>
		</tr>
		<tr>
			<td>Creation Date</td><td>{{DATE}}</td>
		</tr>
		<tr>
			<td>OS Type</td><td>{{DESCRIPTION}}</td>
		</tr>
		<tr>
			<td>VNC Port</td><td>{{PORT}} <small>(use esxi:{{PORT}} in your VNC client to access this VM)</small></td>
		</tr>
	</table>
	<b>Reasoning:</b><br />
	<textarea maxlength="256" class="editReason" rows="10"></textarea>
	<b>Configuration File: </b><br />
	<textarea class="VMconfig" rows="30">
		{{#if CONFIG}}
			{{{CONFIG}}}
		{{else}}
			Something went wrong fetching the config...
		{{/if}}
	</textarea><br /><br />
	<button class="btn btn-primary btn-lg editVM">Save Changes</button>
</div>