<div class="row">
	<div class="col-md-12">
		<h3>Create Virtual Machine</h3>
		<div class="row">
			<div class="col-md-12">
					<b>Virtual Machine Name</b>
					<input type="text" class="form-control vmName" name="vmName" size="25">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<b>Operating System</b><br />
				<select class="OS form-control">
					<option value="1">Windows XP</option>
					<option value="2">Windows 7</option>
					<option value="3">Windows Server 2008</option>
					<option value="4">Ubuntu Linux 12.04 LTS</option>
					<option value="5">Ubuntu Linux 13.10</option>
					<option value="6">Centos 6.5</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<b>Hard Drive Size (GB)</b><br />
				<input type="number" class="HDDsize form-control" min="0.5" max="10" step="0.5" placeholder="0.5">
			</div>
		</div>
	 	<div class="row">
			<div class="col-md-12">
				<b>Config File</b>
				<textarea rows="16" class="vmConfig">
.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "8"
pciBridge0.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
vmci0.present = "TRUE"
hpet0.present = "TRUE"
virtualHW.productCompatibility = "hosted"
powerType.powerOff = "soft"
powerType.powerOn = "hard"
powerType.suspend = "hard"
powerType.reset = "soft"
scsi0.present = "TRUE"
scsi0.sharedBus = "none"
scsi0.virtualDev = "lsisas1068"
memsize = "512"
scsi0:0.present = "TRUE"
scsi0:0.deviceType = "scsi-hardDisk"
ethernet0.present = "TRUE"
ethernet0.virtualDev = "e1000"
ethernet0.networkName = "NB Connection"
chipset.onlineStandby = "FALSE"
disk.EnableUUID = "TRUE"
snapshot.action = "keep"
sched.cpu.min = "0"
sched.cpu.units = "mhz"
sched.cpu.shares = "normal"
sched.mem.min = "0"
sched.mem.shares = "normal"
svga.vramSize = "8388608"
ethernet0.addressType = "generated"
vmci0.id = "763979782"
cleanShutdown = "TRUE"
replay.supported = "TRUE"
replay.filename = ""
scsi0:0.redo = ""
pciBridge0.pciSlotNumber = "17"
pciBridge4.pciSlotNumber = "21"
pciBridge5.pciSlotNumber = "22"
pciBridge6.pciSlotNumber = "23"
pciBridge7.pciSlotNumber = "24"
scsi0.pciSlotNumber = "160"
ethernet0.pciSlotNumber = "32"
vmci0.pciSlotNumber = "33"
scsi0.sasWWID = "50 05 05 6f ab 8a 33 30"
ethernet0.generatedAddressOffset = "0"
tools.syncTime = "TRUE"
unity.wasCapable = "TRUE"
usb.present = "TRUE"
ehci.present = "TRUE"
usb.pciSlotNumber = "34"
ehci.pciSlotNumber = "35"
usb:1.present = "TRUE"
usb:1.speed = "2"
usb:1.deviceType = "hub"
usb:1.port = "1"
usb:1.parent = "-1"
ide1:0.present = "TRUE"
ide1:0.clientDevice = "FALSE"
ide1:0.deviceType = "cdrom-image"
ide1:0.startConnected = "TRUE"</textarea>
				<br /><br />
				<input type="submit" class="submitVM btn btn-lg btn-primary" />
			</div>
		</div>
	</div>
</div>